/* reset */
/* main variables */
html { font-size: 14px !important; }

body { margin: 0px; padding: 0px; font-family: "Open Sans", sans-serif; background: #fff; height: 100%; color: #333333; font-weight: 400; line-height: 1.2; position: relative; font-size: 14px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input:focus, select:focus, textarea:focus, button:focus { background-color: transparent; outline: none; }

input, textarea { color: #333; font-family: "Open Sans", sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a, button { color: #333333; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; text-decoration: underline; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:hover, button:hover { text-decoration: none; color: #333333; }

a, span, div, button { outline: none !important; }

img { vertical-align: middle; max-width: 100%; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after, .wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?1potfo"); src: url("../fonts/icomoon.eot?1potfo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?1potfo") format("truetype"), url("../fonts/icomoon.woff?1potfo") format("woff"), url("../fonts/icomoon.svg?1potfo#icomoon") format("svg"); font-weight: normal; font-style: normal; font-display: block; }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-bascet:before { content: "\e912"; color: #fff; }

.icon-basket:before { content: "\e913"; }

.icon-card:before { content: "\e914"; }

.icon-desico:before { content: "\e915"; }

.icon-fullstar:before { content: "\e916"; }

.icon-hard:before { content: "\e917"; color: #fff; }

.icon-ico1:before { content: "\e918"; color: #fff; }

.icon-like:before { content: "\e919"; }

.icon-like2:before { content: "\e91a"; color: #fff; }

.icon-login:before { content: "\e91b"; }

.icon-star:before { content: "\e91c"; }

.icon-time .path1:before { content: "\e91d"; color: white; }

.icon-time .path2:before { content: "\e91e"; margin-left: -1em; color: #333333; }

.icon-time .path3:before { content: "\e91f"; margin-left: -1em; color: #333333; }

/* Slider */
.slick-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; }

.slick-track:before, .slick-track:after { display: table; content: ''; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }

[dir='rtl'] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/* checkbox */
/* radio */
/* select */
.jq-checkbox { width: 16px; display: inline-block; height: 16px; -webkit-border-radius: 4px; border-radius: 4px; background: #fff; vertical-align: middle; cursor: pointer; border: 2px solid #cccccc; margin-right: 11px; top: -2px; }

.jq-checkbox.checked { border-color: #3399cc; }

.jq-checkbox.checked .jq-checkbox__div { width: 8px; height: 8px; margin: 2px 0 0 2px; -webkit-border-radius: 2px; border-radius: 2px; background: #3399cc; }

.jq-checkbox.disabled { opacity: 0.5; }

.jq-radio { width: 16px; display: inline-block; height: 16px; -webkit-border-radius: 50%; border-radius: 50%; background: #fff; vertical-align: middle; cursor: pointer; border: 2px solid #cccccc; margin-right: 11px; top: -2px; }

.jq-radio.checked { border-color: #3399cc; }

.jq-radio.checked .jq-radio__div { width: 8px; height: 8px; margin: 2px 0 0 2px; -webkit-border-radius: 50%; border-radius: 50%; background: #3399cc; }

.jq-radio.disabled { opacity: 0.5; }

.jq-file { width: 100%; -webkit-box-shadow: none; box-shadow: none; -webkit-border-radius: 5px; border-radius: 5px; border: 1px dashed #b3b3b3; padding: 28px 23px; }

.jq-file input { cursor: pointer; height: auto; line-height: 1em; }

.jq-file__name { -webkit-box-sizing: border-box; box-sizing: border-box; padding-right: 6px; float: left; font-size: 16px; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; -webkit-box-shadow: none; box-shadow: none; background: transparent; outline: none; color: #4d4d4d; letter-spacing: 2.7px; }

.jq-file__browse { position: relative; padding: 0 10px; border-left: none; -webkit-border-radius: 0; border-radius: 0; background: transparent; -webkit-box-shadow: none; box-shadow: none; color: #333; text-shadow: none; font-size: 16px; color: #00aeef; letter-spacing: 2.7px; }

.jq-file:hover .jq-file__browse { color: #00cccc; }

.jq-file:active .jq-file__browse { color: #00cccc; }

.jq-file.disabled .jq-file__name { color: #00cccc; }

.jq-file.disabled, .jq-file.disabled .jq-file__browse { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-selectbox { vertical-align: middle; cursor: pointer; width: 100%; }

.jq-selectbox .placeholder { color: #333333; }

.jq-selectbox__select { height: 44px; padding: 8px 30px 8px 15px; border: 1px solid #333333; -webkit-border-radius: 0px; border-radius: 0px; background: #fff; line-height: 25px; color: #333; z-index: 1; font-family: "Open Sans", sans-serif; font-size: 14px; letter-spacing: 0.6px; }

.jq-selectbox select { display: none; }

.jq-selectbox.disabled .jq-selectbox__select { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-selectbox__select-text { display: block; width: 100% !important; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.jq-selectbox__trigger { position: absolute; top: 0; right: 0; width: 34px; height: 100%; }

.jq-selectbox__trigger-arrow { position: absolute; top: 0px; right: 0; width: 100%; height: 100%; font-family: 'icomoon' !important; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; font-size: 7px; background: url(../svg/arr.svg) no-repeat center; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.jq-selectbox.opened .jq-selectbox__trigger-arrow { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }

.jq-selectbox__dropdown { top: 46px !important; bottom: auto; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #333333; background: #FFF; -webkit-border-radius: 0px; border-radius: 0px; line-height: 25px; overflow: hidden; }

.jq-selectbox__search { margin: 5px; }

.jq-selectbox__search input { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; outline: none; border: 1px solid #CCC; -webkit-border-radius: 3px; border-radius: 3px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%; -webkit-box-shadow: inset 1px 1px #F1F1F1; box-shadow: inset 1px 1px #F1F1F1; color: #333; -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }

.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #F0F0F0; font-size: 13px; }

.jq-selectbox ul { margin: 0; padding: 0; }

.jq-selectbox li { min-height: 18px; padding: 5px 13px 5px 13px; border-bottom: 1px solid #838383; }

.jq-selectbox li:last-child { border: none; }

.jq-selectbox li:hover { color: #fff; background-color: #333; }

.jq-selectbox li.selected, .jq-selectbox li.sel { background-color: #333; color: #fff; }

.jq-selectbox li.disabled { color: #ccc; background: none; }

.jq-selectbox li.disabled:hover { background: none; }

.jq-selectbox li.optgroup { font-weight: bold; }

.jq-selectbox li.optgroup:hover { background: none; color: #231F20; cursor: default; }

.jq-selectbox li.option { padding-left: 25px; }

.jq-select-multiple { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); background: #FFF; color: #333; cursor: default; }

.jq-select-multiple.focused { border: 1px solid #5794BF; }

.jq-select-multiple.disabled { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-select-multiple ul { margin: 0; padding: 0; }

.jq-select-multiple li { padding: 3px 9px 4px; list-style: none; }

.jq-select-multiple li:first-child { -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child { -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected { background: #08C; color: #FFF; }

.jq-select-multiple li.disabled { color: #AAA; }

.jq-select-multiple.disabled li.selected, .jq-select-multiple li.selected.disabled { background: #CCC; color: #FFF; }

.jq-select-multiple li.optgroup { font-weight: bold; }

.jq-select-multiple li.option { padding-left: 25px; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header { width: 100%; padding: 7px 0; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-order: 1; z-index: 150; -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }

.header .header_cont { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.logo { font-size: 22px; font-weight: 700; text-transform: uppercase; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; letter-spacing: 0.04em; }

.logo .logo_link { text-decoration: none; border: none; }

.hedright { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0 8px 3px 0px; }

.hedright .login, .hedright .like, .hedright .basket { margin: 0 16px; font-size: 16px; }

.hedright .login a, .hedright .like a, .hedright .basket a { text-decoration: none; }

.hedright .basket { margin-right: 0; }

/* */
.footer { position: relative; width: 100%; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; -webkit-order: 3; z-index: 10; padding: 145px 0 70px 0px; }

.footer h4 { text-transform: uppercase; margin-bottom: 6px; letter-spacing: 0.023em; }

.footer_cont { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; max-width: 1153px; margin: 0 auto; }

.footer_inf { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 60.7%; }

.footer_inf_col { width: 50%; }

.footer_inf ul li { list-style: none; margin-bottom: 11px; }

.footer_inf ul li a { font-size: 14px; position: relative; letter-spacing: 0.04em; text-decoration: none; }

.footer_inf ul li a:after { width: 0; background-color: #333333; height: 1px; content: ''; position: absolute; left: 0; bottom: 0; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.footer_inf ul li a:hover:after { width: 100%; }

.t-inp_close { display: block; position: absolute; top: 50%; right: 11px; margin-top: -6px; width: 11px; height: 11px; overflow: hidden; }

.t-inp_close:after { position: absolute; top: 50%; left: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); background: #C4C4C4; content: ''; display: block; width: 11px; height: 1px; }

.t-inp_close:before { position: absolute; top: 50%; left: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); background: #C4C4C4; content: ''; display: block; width: 11px; height: 1px; }

.footer_new { width: 39.3%; }

.footer_new .fnew_form { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; position: relative; padding-top: 18px; }

.footer_new .fnew_form_inp { position: relative; border-bottom: 1px solid #C4C4C4; width: 100%; margin-bottom: 35px; }

.footer_new .fnew_form .t-inp { width: 100%; height: 40px; border: none; outline: none; color: #333; font-size: 14px; background: transparent; padding: 0 34px 0 17px; letter-spacing: 0.04em; }

.footer_new .fnew_form .t-inp::-webkit-input-placeholder { color: rgba(40, 40, 40, 0.6); }

.footer_new .fnew_form .t-inp:-moz-placeholder { color: #828282; }

.footer_new .fnew_form .t-inp::-moz-placeholder { color: #828282; }

.footer_new .fnew_form .t-inp:-ms-input-placeholder { color: #828282; }

.footer_new .fnew_form .error { border-bottom: 1px solid #FF3333; }

.footer_new .fnew_form span.error { color: #FF3333; position: absolute; left: 0; border: none; top: -20px; }

.footer_new .fnew_form .valid { background: transparent; }

.footer_new .form_submit { background: #FFFFFF; border: 1px solid #333333; letter-spacing: 0.04em; width: 150px; height: 36px; font-size: 14px; text-align: center; line-height: 36px; padding: 0; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.footer_new .form_submit:hover { color: #fff; background-color: #333333; }

/* */
.main-wrapper { padding: 0 0 0 0; min-width: 320px; width: 100%; position: relative; overflow: hidden; min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; -webkit-justify-content: flex-start; -ms-flex-pack: start; }

.wrapper { min-width: 320px; max-width: 1390px; padding: 0 0px; margin: 0 auto; position: relative; z-index: 2; width: 1390px; }

/* titles */
p { padding: 0px 0 10px 0; }

h1, .h1 { font-size: 36px; line-height: 1.2; color: inherit; padding: 10px 0 10px 0px; font-weight: bold; }

h1 span, .h1 span { color: #034EA2; }

h2, .h2 { font-size: 24px; line-height: 1; color: inherit; padding: 10px 0 10px 0; font-weight: bold; }

h2 span, .h2 span { color: #034EA2; }

h3, .h3 { font-size: 18px; line-height: 1.2; color: inherit; padding: 10px 0 10px 0; font-weight: bold; }

h4, .h4 { font-size: 16px; line-height: 1.2; color: #333333; padding: 0px 0 12px 0px; position: relative; font-weight: bold; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper { visibility: hidden; }

.icon-load { position: fixed; width: 100%; height: 100%; top: 0; left: 0; display: none; background-color: #fff; z-index: 200; }

.loaded .icon-load { display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content { min-width: 320px; text-align: left; width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-order: 2; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-grow: 1; padding-top: 26px; }

/* */
.btn { -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; letter-spacing: 0.04em; text-decoration: none; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; vertical-align: middle; height: 44px; padding: 6px 15px 5px 15px; font-family: "Open Sans", sans-serif; text-align: center; cursor: pointer; -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; background: #333; color: #fff; border: 1px solid #333; font-size: 14px; line-height: 16px; font-weight: 400; -webkit-box-shadow: none; box-shadow: none; -webkit-border-radius: 0px; border-radius: 0px; }

.btn:hover { color: #333; background: #fff; }

/*---------------------------------------*/
.m-show { display: none; }

.js-bg { -webkit-background-size: cover; background-size: cover; background-position: top; background-repeat: no-repeat; }

/*-----------------------------*/
.card { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 30px; }

.card_slider { width: 686px; max-width: 686px; position: relative; }

.card_slider_big { width: 100%; overflow: hidden; z-index: 0; position: relative; }

.card_slider_big_item { width: 100%; height: 100%; position: relative; }

.card_slider_big_item:before { content: ''; display: block; padding-bottom: 128%; }

.card_slider_big_item_img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.card_slider_big_item_img img { -o-object-fit: cover; object-fit: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.card_slider_prev { position: absolute; top: 24px; left: 24px; z-index: 1; }

.card_slider_prev_item { position: relative; cursor: pointer; margin-bottom: 4px; }

.card_slider_prev_item_img { width: 70px; height: 90px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; }

.card_slider_prev_item_img:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.3); z-index: 1; }

.card_slider_prev_item_img img { -o-object-fit: cover; object-fit: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.card_slider_prev .slick-track { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.card_slider_prev .slick-list { padding: 0 !important; }

.card_slider .slick-current .card_slider_prev_item_img:before { display: none; }

.card_des { padding-left: 36px; width: 100%; padding-top: 24px; }

.card_des h1 { font-size: 18px; font-weight: 600; margin-bottom: 10px; padding: 0; }

.card_des .review_line { margin-bottom: 45px; letter-spacing: 0.04em; }

.articl { color: #828282; letter-spacing: 0.04em; font-size: 12px; margin-bottom: 20px; }

.review_line { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.arrow_link { position: relative; display: inline-block; overflow: hidden; margin: -4px 0 0 7px; }

.review_stras { font-size: 11px; margin: 0 4px 0 14px; }

.price { font-size: 24px; letter-spacing: 0.04em; text-transform: uppercase; font-weight: bold; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; margin-bottom: 9px; }

.price_old { color: #828282; letter-spacing: 0.04em; font-size: 14px; -webkit-text-decoration-line: line-through; text-decoration-line: line-through; margin: 0 12px 0 13px; }

.discont { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 32px; }

.discont_block { border: 1px solid #333333; margin-right: 9px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 4px 7px; font-size: 12px; letter-spacing: 0.04em; }

.size { margin-bottom: 40px; }

.size_choise { margin-bottom: 14px; width: 315px; }

.size_link { text-decoration: underline; letter-spacing: 0.04em; }

.size_link:hover { text-decoration: none; }

.basket_line { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 14px; }

.numb { width: 145px; margin: 0px 0; display: inline-block; background: #F2F2F2; }

.numb span { display: inline-block; cursor: pointer; width: 48px; height: 44px; line-height: 44px; vertical-align: top; font-size: 14px; text-align: center; color: #333; position: relative; }

.numb .minus { margin-right: 0px; }

.numb .plus { margin-left: 0px; }

.numb input { outline: none; height: 44px; background-color: transparent; font-weight: 400; width: 41px; border: none; line-height: 44px; vertical-align: top; text-align: center; font-size: 14px; color: #333; }

.basket_link_btn { width: 203px; margin: 0 4px 0px 12px; }

.like_link { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-decoration: none; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; font-size: 16px; text-align: center; line-height: 42px; width: 44px; background-color: #333333; color: #fff; border: 1px solid #333333; -webkit-transition: 0s; -o-transition: 0s; transition: 0s; }

.like_link .like_link1 { display: inline-block; }

.like_link .like_link2 { display: none; }

.like_link:hover .like_link1 { display: none; }

.like_link:hover .like_link2 { display: inline-block; }

.like_link.active .like_link1 { display: none; }

.like_link.active .like_link2 { display: inline-block; }

.buy_link { text-decoration: underline; letter-spacing: 0.04em; }

.buy_link:hover { text-decoration: none; }

hr { width: 100%; height: 1px; background-color: #C4C4C4; margin: 30px 0 25px; }

.card_infolinks_link { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 15px; padding-left: 2px; letter-spacing: 0.03em; }

.card_infolinks_link_ico { margin-right: 7px; font-size: 16px; }

.g_link { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 33px; letter-spacing: 0.04em; }

.gallery { display: grid; grid-template-columns: 49.4%; grid-template-rows: 1fr; grid-column-gap: 16px; grid-row-gap: 16px; }

.gallery .gallery_item { position: relative; }

.gallery .gallery_item:hover .gallery_item_in { opacity: 1; }

.gallery_item1 { grid-area: 1 / 1 / 3 / 2; }

.gallery_item2 { grid-area: 1 / 2 / 2 / 3; }

.gallery_item3 { grid-area: 1 / 3 / 2 / 4; }

.gallery_item4 { grid-area: 2 / 2 / 3 / 3; }

.gallery_item5 { grid-area: 2 / 3 / 3 / 4; }

.gallery_img { width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; overflow: hidden; }

.gallery_img img { -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; }

.gallery_item_in { position: absolute; top: 0; left: 0; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; opacity: 0; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; background: rgba(51, 51, 51, 0.7); }

.copy_link { display: block; font-size: 16px; position: absolute; top: 15px; right: 17px; text-decoration: none; }

.gallery_item_more { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-decoration: none; padding-top: 24px; }

.gallery_item_more_ico { font-size: 36px; margin-bottom: 9px; }

.gallery_item_more_txt { color: #fff; letter-spacing: 0.04em; }

.gallery_item_more:hover .gallery_item_more_txt { text-decoration: underline; }

.gallery_item_like { color: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: absolute; bottom: 21px; left: 0; right: 0; }

.gallery_item_like span { margin-right: 8px; font-size: 16px; }

/*# sourceMappingURL=style.css.map */
