/* reset */
$min-width: 320px;    
$max-width: 1390px;     
$base-bg: #fff;   
$base-font-size: 14px; 
$base-line-height: 1.2; 
$base-font-family: 'Open Sans', sans-serif;
$link-color: #333333;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles 
$text-color: #333333;
$title-color: #333333;
$title-font-family: 'Open Sans', sans-serif;

$font-size-h1: 36px; 
$line-height-h1: 1.2;     
$font-size-h2: 24px;
$line-height-h2: 1;   
$font-size-h3: 18px;
$line-height-h3: 1.2;   
$font-size-h4: 16px;
$line-height-h4: 1.2; 