
//main styles
.main-wrapper {
    padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}  

.wrapper {
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 0px;  
	margin: 0 auto;      
	position: relative;   
	z-index: 2; 
	width: 1390px; 
}  

/* titles */    
p{	
	padding: 0px 0 10px 0;
}
h1, .h1{
	@include font($font-size-h1,$line-height-h1,inherit);
	padding: 10px 0 10px 0px;   
	font-weight: bold;	
	span {color:#034EA2;}
}
h2, .h2{
	@include font($font-size-h2,$line-height-h2,inherit);
	padding: 10px 0 10px 0;       
	font-weight: bold;	
	span {color:#034EA2;}
}    
h3, .h3{
	@include font($font-size-h3,$line-height-h3,inherit);
	padding: 10px 0 10px 0; 
	font-weight: bold;	

}
h4, .h4{
	@include font($font-size-h4,$line-height-h4,$title-color);
	padding: 0px 0 12px 0px; 
	position: relative;    
	font-weight: bold;	  

}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}   
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}
   
/* loader */
.loaded .main-wrapper{visibility:hidden;}     
.icon-load{position:fixed;width:100%;height:100%; top:0;left:0;display:none; background-color:#fff;z-index: 200;}
.loaded .icon-load{display:block;}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align: left;
    width: 100%;  
	order: 2;  
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;  
}         

/* */
.btn {transition: all 0.3s linear; display: inline-flex;align-items:center;justify-content: center; vertical-align: middle; height: 44px;padding: 3px 15px 5px 15px; font-family: $title-font-family; text-align: center; cursor: pointer;backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; 
background: #333; color: #fff;	border:1px solid #333;  font-size: 14px; line-height: 16px; font-weight: 400;box-shadow: none; border-radius: 0px;
	&:hover {color:#333; background: #fff;} 
} 
/*---------------------------------------*/ 
.m-show {display: none;}
.js-bg {background-size: cover; background-position: top; background-repeat: no-repeat;}   
/*-----------------------------*/
.card{display: flex;
	&_slider{width:686px; max-width: 686px; position:relative;
		&_big{width: 100%;  overflow: hidden; z-index: 0; position: relative;
			&_item{width:100%; height:100%; position:relative;
				&:before{content:''; display:block; padding-bottom:128%; }
				&_img{position:absolute; top:0; left:0; width:100%; height:100%; display:flex; align-items: center; justify-content: center;
					img{object-fit: cover; position:absolute; top:0; left:0; width:100%; height:100%;}
				}
			}
		}
		&_prev{position:absolute; top:0; left:0; z-index: 1;
			&_item{  position: relative; cursor: pointer; margin-bottom:7px;
				&_img{width:70px;	 height:90px;  display:flex; align-items: center; justify-content: center; position: relative;
					img{object-fit: cover; position:absolute; top:0; left:0; width:100%; height:100%;}
				}
			}
			.slick-track{display:flex; flex-direction: column;}
			.slick-list{padding:0 !important; }
		}
	}
	&_des{padding-left:36px;  width:100%;
		h1{font-size:18px; font-weight:600; margin-bottom:8px; }
		.review_line{margin-bottom:46px;}
	}
}
.articl{color: #828282; letter-spacing: 0.04em; font-size: 12px; margin-bottom:18px;}
.review_line{position:relative;     display: flex;  align-items: center;
	
}
.arrow_link{position:relative; width:12px; height:12px; display:inline-block; overflow: hidden;
	&:after{content:''; width:8px; height:1px; position: absolute; top:3px; right:0; background-color: #333; transform: rotate(50deg);}
	&:before{content:''; width:8px; height:1px; position: absolute; bottom:3px; right:0; background-color: #333; transform: rotate(-50deg);}
}
.review_stras{font-size: 10px; margin:0 5px;}
.price{font-size:24px; letter-spacing: 0.04em;	text-transform: uppercase; font-weight:bold; display:flex; align-items: center; position: relative; margin-bottom:10px; 
	&_old{color:#828282; letter-spacing: 0.04em; font-size:14px; text-decoration-line: line-through; margin: 0 0 0 12px;}
}
.discont{display:flex; margin-bottom:40px;
	&_block{border: 1px solid #333333; margin-right:4px; display:flex; align-items: center ; justify-content: center; padding:0 8px; font-size:14px; letter-spacing: 0.04em;}
}
.size{margin-bottom:40px;}
.size_choise{margin-bottom:24px; width: 315px;}
.size_link{text-decoration: underline;
	&:hover{text-decoration: none;}
}

.basket_line{display:flex; margin-bottom:14px;}
.numb {   width: 145px;   margin:0px 0;  display: inline-block; background: #F2F2F2; 
}
.numb span {
    display: inline-block;  width: 44px;   height: 44px;   line-height: 44px;	vertical-align: top;	font-size:14px;  text-align: center;	color:#333;  position:relative;
}
.numb .minus {   margin-right: 0px;    
}
.numb .plus {   margin-left: 0px;    
}
.numb input {
    outline: none;  height: 44px; background-color: transparent; font-weight: 400;  width: 44px; border:none; line-height: 44px;   vertical-align: top; text-align: center;    font-size: 14px;  color: #333;
}
.basket_link_btn{width:203px;  margin:0 4px 0px 12px; }
 .like_link{display:block; text-align: center ; line-height: 42px; width:42px; background-color: #333333; color:#fff; border: 1px solid #333333; transition:0s ;
	.like_link1{display:inline-block;     }
	.like_link2{display:none;    }
	&:hover{
		.like_link1{display:none;}
		.like_link2{display:inline-block;}
	}
	&.active{
		.like_link1{display:none;}
		.like_link2{display:inline-block;}
	}
}
.buy_link{text-decoration: underline;
	&:hover{text-decoration: none;}
}
hr{ width:100%; height:1px; background-color: #C4C4C4; margin:29px 0 24px;}
.card_infolinks{
	&_infolinks_link{display:flex; align-items: center; margin-bottom:12px;
		a{}
		&_ico{margin-right:7px;}
	}
}





@media screen and (max-width: 1459px) {  
	
}
@media screen and (max-width: 1359px) {  
	
}
@media screen and (max-width: 1279px) {  

  

}

@media screen and (max-width: 1199px) {


}
@media screen and (max-width: 1023px) {



}

@media screen and (max-width: 767px) {





}

@media screen and (max-width: 639px) { 

	
} 

@media screen and (max-width: 540px) { 


}
@media screen and (max-width: 500px) { 
	
	
} 

@media screen and (max-width: 479px){

	

}
@media screen and (max-width: 374px){


}

